<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" href="#">
    <title>vue-todolist</title>
</head>

<body>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <div id="app">
        <div class="container">
            <h2>Todo List Vue</h2>
            <ol>
                <li v-for="item in todolist">
                    {{ item }}
                </li>
            </ol>
            <input class="form-control" placeholder="Inserisci un nuovo promemoria" v-model="newTask" 
            @keyup.enter="addTask">
            <button id="btn"@click="newTask">Aggiungi Promemoria!</button>
        </div>
        <div>

        </div>
    </div>
    
    <script>

        const { createApp } = Vue;

        createApp({
            data() {
                return {
                    newTask: '',
                    todolist: [
                        'Comprare il pane',
                        'Comprare la frutta',
                        'Comprare il cane',
                        'Comprare il gatto',
                        'Comprare il pappagallo',
                        'Creare un recinto per animali',
                    ]
                }
            },
            methods: {
                addTask()
                {
                    this.todolist.push(this.newTask)
                    this.newTask = '';
                }
            },
        }).mount('#app');
    </script>







    <script type="text/javascript" src="./js/script.js"></script>
</body>

</html>